node_modules
dist
.env
assets/generated-metadata
assets/images
assets/metadata
build-metadata
.ipfs-upload-cache
ipfs-upload-result.json
ocicat-final.zip
*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.env
node_modules/
dist/
.vercel
